# Root
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Client
client/node_modules
client/npm-debug.log
client/dist

# Server
server/priv/static
server/config/*.secret.exs
server/*.ez
server/docify-*.tar
server/erl_crash.dump
server/.fetch
server/doc/
server/deps/
server/_build/
server/cover/