<main id="home" class="page">
  <h1>
    Create
    <br />

    Beautiful
    <br />

    Documents
  </h1>

  <p>
    Docify helps you focus on doing your best work with an easy-to-use,
    extremely flexible text editor and file management solution.
  </p>

  <a href="/demo" title="Demo">
    <button>
      Demo
    </button>
  </a>
</main>
