<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Docify</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/index.css") %>"/>
  </head>
  <body>
    <header>
      <nav>
        <li><a class="logo" href="/" title="Home">Docify</a></li>
        <li><a href="/about" title="About">About</a></li>
        <li><a href="/documents" title="Documents">Documents</a></li>
        <% if @current_user != nil do %>
          <li><a href="/logout" title="Documents">Logout</a></li>
        <% else %>
          <li><a href="/login" title="Documents">Login</a></li>
        <% end %>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer>
      <nav>
        <li><a href="/privacy-policy" title="Privacy policy">Privacy policy</a></li>
        <li><a href="/terms-and-conditions" title="Terms and conditions">Terms and conditions</a></li>
        <li><a href="/support" title="Support">Support</a></li>
      </nav>
    </footer>
  </body>
</html>
